<div class="confirm-email-container" style="display: none;">
    <div class="confirm-email-box">
        <h3>Подтверждение Email</h3>
        <p>Введите код, отправленный на вашу почту:</p>
        <input type="text" id="email-confirmation-code" placeholder="Введите код подтверждения">
        <div id="error-messages-confirmation"></div>
        <button id="confirm-email-button">Подтвердить</button>
        <button class="button_confirm_close">Закрыть</button>
    </div>
</div>