<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Elixir Emporium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/login_and_registration.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/media_style.css" asp-append-version="true">
    <link rel="icon" type="image/x-icon" href="~/icon.ico"/>
</head>
<body>
<header id="header-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo1.png" alt="Logo" style="height: 70px;"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services">Услуги</a>
                    </li>
                </ul>
                <a class="btn-new ms-3" id="click-to-hide" data-bs-toggle="modal" data-bs-target="#loginModal">Войти</a>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="text-center py-3">
    <p>&copy; @DateTime.Now.Year - Эликсирный Дом</p>
    <p>Следите за нами в социальных сетях:</p>
    <p>
        <a href="https://www.facebook.com" target="_blank">Facebook</a> 
        <a href="https://www.instagram.com" target="_blank">Instagram</a> 
        <a href="https://www.twitter.com" target="_blank">Twitter</a>
    </p>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/services.js" asp-append-version="true"></script>
<script src="~/js/navbar.js" asp-append-version="true"></script>
<script src="~/js/chared_script.js" asp-append-version="true"></script>
<script src="~/js/login_and_registration_script.js" asp-append-version="true"></script>

<!-- Модальное окно входа -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_LoginRegistrationPartial")
            </div>
        </div>
    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
