<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PillParadise</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/login_and_registration.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/media_style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
    <link rel="icon" type="image/x-icon" href="~/icons.ico"/>
</head>
<body>
<header id="header-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logotip.png" alt="Logo" style="height: 80px; margin-left: 10px"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="ListOfCategories">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">О компании</a>
                    </li>
                </ul>
                <div class="d-flex ms-3">
                    <!-- Кнопка поиска как иконка -->
                    <a href="#" id="search-button" class="btn">
                        <img src="~/images/search.svg" alt="Search" style="height: 20px;"/>
                    </a>
                    <a href="#" id="search-button" class="btn">
                        <img src="~/images/cart.svg" alt="Search" style="height: 20px;"/>
                    </a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Profile" id="search-button" class="btn">
                            <img src="~/images/user.png" alt="Search" style="height: 20px;"/>
                        </a>
                    }
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                    <button class="btn-new" id="click-to-hide" data-bs-toggle="modal" data-bs-target="#loginModal" type="button" onclick="window.location.href = '@Url.Action("Logout", "Home")'">Выйти</button>
                    }
                    else
                    {
                    <a class="btn-new" id="click-to-hide" data-bs-toggle="modal" data-bs-target="#loginModal">Войти</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<div class="container-login-registration">
    @await Html.PartialAsync("_LoginRegistrationPartial")
</div>
<div class="confirm-email-container">

    @await Html.PartialAsync("_ConfirmEmailPartial")
</div>
<footer class="text-center py-3" style="background-color: #fff0fa;">
    <p>&copy; @DateTime.Now.Year - PillParadise</p>
    <p>Следите за нами в социальных сетях:</p>
    <p>
        <a href="https://www.facebook.com" target="_blank">
            <img src="~/icons/Facebook.svg" alt="Facebook" style="width: 24px; height: 24px; margin-right: 10px;">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="~/icons/Instagram.svg" alt="Instagram" style="width: 24px; height: 24px; margin-right: 10px;">
        </a>
        <a href="https://www.twitter.com" target="_blank">
            <img src="~/icons/Twitter.svg" alt="Twitter" style="width: 24px; height: 24px; margin-right: 10px;">
        </a>
    </p>
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/services.js" asp-append-version="true"></script>
<script src="~/js/navbar.js" asp-append-version="true"></script>
<script src="~/js/chared_script.js" asp-append-version="true"></script>
<script src="~/js/login_and_registration_script.js" asp-append-version="true"></script>
<script src="~/js/home.js" asp-append-version="true"></script>
<script src="~/js/filter.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

