<div class="about-page-container">
    <div class="team-section">
        <div class="team-member">
            <img src="~/images/director1.jpg" alt="Директор компании">
            <p>Директор компании</p>
        </div>
        <div class="team-member">
            <img src="~/images/pharmacist1.jpg" alt="Фармацевт-провизор">
            <p>Фармацевт-провизор</p>
        </div>
    </div>

    <div class="about-container">
        <h1>О нас</h1>
        <p>Зачастую у нас нет времени на долгие поиски лекарств по аптекам. Современная аптечная сеть предлагает огромный ассортимент препаратов, который постоянно расширяется. Это может вызвать определенные трудности при их приобретении, поскольку порой приходится посещать несколько аптек, чтобы найти все необходимые товары. Понимая это, наша интернет-аптека «Эликсирный Дом» предлагает вам удобный способ заказать препараты онлайн с доставкой по Тирасполю.</p>
        <p>Мы предоставляем:</p>
        <ul>
            <li>широкий выбор лекарственных средств;</li>
            <li>натуральные и лечебные косметические средства;</li>
            <li>товары для беременных, кормящих мам и малышей;</li>
            <li>детское питание, косметику для детей и игрушки;</li>
            <li>медицинские изделия и средства для реабилитации.</li>
        </ul>
        <p>Теперь, не выходя из дома, вы можете получить у нас полную информацию о наличии препаратов, проконсультироваться по вопросам применения и оформить доставку лекарств на дом.</p>
        <p>Доставка лекарств становится все более популярной и необходимой услугой в нашем городе. С нашей помощью заказать препараты через интернет в Тирасполе стало максимально просто и удобно. Мы гарантируем высокий уровень сервиса и внимательное отношение к каждому клиенту.</p>
        <p>Вся работа «Эликсирного Дома» ориентирована на удовлетворение ваших потребностей. Мы предоставляем профессиональные консультации и обеспечиваем доступные цены. Наша аптека гарантирует подлинность и высокое качество всех товаров, чтобы вы могли быть уверены в надежности наших препаратов.</p>
        <p>Обратившись к нам однажды, вы останетесь довольны и получите ответы на все интересующие вопросы. Мы будем рады видеть вас в числе постоянных клиентов «Эликсирного Дома»!</p>
    </div>
</div>

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true"/>
