@{
    ViewData["Title"] = "About Us";
}

<div class="container about-container">
    <h1>О нас</h1>
    <p>Добро пожаловать в Эликсирный Дом! Наша аптека уникальна своим подходом к заботе о здоровье и благополучии. Здесь вы найдете не просто лекарства, но и тщательно подобранные эликсиры, порошки и настойки, созданные с использованием древних рецептов и натуральных ингредиентов.</p>
    <p>В Эликсирном Доме мы верим в силу природы и традиций, поэтому каждый продукт проходит тщательный отбор и создается с заботой о вашем здоровье. Наша цель — помочь вам не только восстановить силы, но и сохранить гармонию тела и духа. Пусть каждый визит в нашу аптеку станет шагом к вашему благополучию.</p>
    <p>Благодарим вас за то, что выбрали нас, и мы будем рады поделиться с вами искусством древних рецептов и уникальных средств для заботы о себе.</p>
</div>

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true"/>