
@{
    ViewData["Title"] = "Наши услуги";
}

<div class="services-section">
    <h2>Наши услуги</h2>
    <div class="service-cards">
        <div class="service-card">
            <img src="~/images/4.png" alt="Консультации фармацевта"/>
            <h3>Консультации фармацевта</h3>
            <p>Получите квалифицированную помощь в подборе препаратов и информации о применении.</p>
        </div>
        
        <div class="service-card">
            <img src="~/images/1.png" alt="Изготовление лекарств по рецепту"/>
            <h3>Изготовление лекарств по рецепту</h3>
            <p>Мы готовим лекарства на заказ по рецепту для индивидуальных потребностей.</p>
        </div>
        
        <div class="service-card">
            <img src="~/images/3.png"/>
            <h3>Измерение давления и уровня сахара в крови</h3>
            <p>Предоставляем услуги по измерению артериального давления и уровня сахара.</p>
        </div>
        
        <div class="service-card">
            <img src="~/images/2.png" alt="Косметические средства"/>
            <h3>Косметические средства</h3>
            <p>Широкий выбор лечебной и натуральной косметики для красоты и здоровья.</p>
        </div>
        
        <div class="service-card">
            <img src="~/images/5.png" alt="Услуги по уходу за больными на дому"/>
            <h3>Услуги по уходу за больными на дому</h3>
            <p>Средства и инструменты для комфортного ухода за пациентами дома.</p>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/services.css" asp-append-version="true"/>
<script src="~/js/services.js" asp-append-version="true"></script>