/* Основные стили страницы "О нас" */
body.about-page {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f7f3f0; /* Цвет фона такой же, как у других секций */
  margin: 0;
  padding: 0;
}

.container.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 10px; /* Отступ сверху, чтобы учесть фиксированный заголовок */
  padding-bottom: 20px;
}

/* Заголовок только внутри "О нас" */
.about-container h1 {
  font-size: 2.5em;
  color: #b34093; /* Розовый оттенок */
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f7f3f0; /* Цвет фона, как у остальных секций */
  border-radius: 8px; /* Округление углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Лёгкая тень для заголовка */
}

/* Основной текст только внутри "О нас" */
.about-container p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0px 0;
  color: #4a4a4a;
  padding: 20px;
  background-color: #f7f3f0; /* Тот же фон, как у заголовка */
  border-radius: 8px; /* Округление углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Лёгкая тень для текста */
}

/* Эффекты для текста в "О нас" */
.about-container p::first-letter {
  font-size: 1.5em;
  font-weight: bold;
  color: #b34093;
}
