.catalog-section {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-title {
    font-size: 16px;
    color: #333333;
    margin: 10px 0;
}

.product-description {
    font-size: 14px;
    color: #777777;
    margin: 10px 0;
}

.product-price {
    font-size: 14px;
    color: #D46F94;
}

.filter-container {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.filter-title {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.filter-label {
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

.filter-price {
    margin-bottom: 15px;
}

.filter-apply {
    background-color: #D46F94;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-apply:hover {
    background-color: #b35578;
}

.sort-container {
    margin-bottom: 20px;
    text-align: left;
}

.sort-label {
    font-size: 14px;
    color: #555555;
    margin-right: 10px;
}

.sort-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
