/* Основные стили для всего приложения */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Задаем минимальную высоту для body, чтобы занимал весь экран */
  margin: 0;
  background-color: white; /* Нежно розовый фон */
}

.container {
  flex-grow: 1;  /* Контент занимает оставшееся место */
  padding-top: 100px; /* Отступ сверху, чтобы учесть высоту заголовка */
  padding-bottom: 20px;  /* Немного отступа снизу для предотвращения наложения футера */
}

/* Контейнер для изображения */
.image-container {
  margin-bottom: 20px; /* Отступ снизу, чтобы изображение не прижималось к футеру */
}

.navbar-nav {
  display: flex;
  justify-content: center; /* Выровнять элементы по центру */
  align-items: center; /* Выровнять элементы по вертикали */
  padding-left: 0; /* Убираем отступ слева */
  margin-bottom: 0; /* Убираем отступ снизу */
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: #333;
  padding: 10px 15px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 8px;
  margin: 0 5px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #ff69b4;
  background-color: #fce4ec;
}


#header-top {
  position: fixed; /* Фиксируем заголовок */
  top: 0; /* Ставим его в верхнюю часть экрана */
  width: 100%; /* Занимает всю ширину */
  z-index: 200; /* Убедитесь, что он поверх других элементов */
  transition: transform 0.3s ease-in-out; /* Плавный переход */
  padding-bottom: 30px; /* Немного отступа снизу, чтобы полоска была близко */
}

/* Стили для футера */
footer {
  background-color: #f8d7e5; /* Светло-розовый цвет фона */
  color: #370b0b; /* Темный цвет текста */
  padding: 20px 0; /* Отступ сверху и снизу */
  text-align: center;
  border-top: 2px solid #e2a3b1; /* Линия сверху для разделения */
}

footer p {
  margin: 5px 0; /* Убираем большие отступы между текстом */
}

footer a {
  color: #370b0b; /* Цвет ссылок, чтобы они гармонировали с текстом */
  text-decoration: none; /* Убираем подчеркивание ссылок */
}

footer a:hover {
  color: #0c0e10; /* Цвет при наведении */
  text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стиль заголовка на странице "О нас" */
h1 {
  font-family: 'Georgia', serif; /* Классический шрифт для ретро-стиля */
  color: #4b2e2e; /* Темно-коричневый цвет для атмосферы */
  text-align: center;
  margin-top: 20px;
}

.btn-new {
  border-radius: 12px; /* Увеличим закругление углов */
  color: white;
  transition: .2s linear;
  background: #FF77B1; /* Розовый оттенок */
  padding: 10px 22px; /* Увеличим размер кнопки */
  font-size: 18px; /* Увеличим размер шрифта */
  text-decoration: none; /* Убираем подчеркивание */
  display: inline-block; /* Убедимся, что элемент ведет себя как кнопка */
  border: none; /* Убираем обводку */
  outline: none; /* Убираем фокусную обводку */
}

.btn-new:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #FF56A1; /* Темный розовый оттенок для теней */
  text-decoration: none; /* Убираем подчеркивание и при наведении */
  color: white; /* Оставляем цвет текста белым при наведении */
}
